<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon fichier</title>
    </head>
    <body>
        <h1>Fichier <small>HTML</small></h1>
        <h2>Formulaire</h2>
        <form method="POST" action="/form">
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="Mot de passe"><br>
            <button type="submit">Connexion</button>
        </form>
        <h2>Voici mon image :</h2>
        <img src="/images/dark_rabbit.jpg" alt="" width="200px">
    </body>
</html>