<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Démo EJS</title>
    </head>
    <body>
        <a href="/">Accueil</a>
        <a href="/posts">Articles</a>
        <a href="/hello/jean">Hello</a>
