<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
</head>
<body>
    <h1>Todo List</h1>
    <form method="POST" action="/task">
        <input type="text" placeholder="Nouvelle tâche" name="task" autofocus required>
        <button type="submit">Ajouter</button>
    </form>

    <h3>Tâches :</h3>
    <ul>
        <% tasks.forEach((task, index) => { %>
            <li>
                <% if (!task.done) { %>
                        <%= task.title %> | <a href="/task/<%= index %>/done">Terminé</a>
                <% } else { %>
                        <s><%= task.title %></s>| <a href="/task/<%= index %>/delete">Supprimé</a>
                <% } %>
            </li>
        <% }) %>
    </ul>
</body>
</html>